@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Custom font */
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/500.css';
@import '@fontsource/geist-sans/600.css';
@import '@fontsource/geist-sans/700.css';

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-family: "Geist Sans", system-ui;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  min-height: 100vh;
  scrollbar-width: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.highlight {
  color: black;
  opacity: 0.6;
}

html.dark .highlight {
  color: white;
  opacity: 0.6;
}