---
export const prerender = false;
import { t } from "../../i18n";

const userAgent = Astro.request.headers.get("user-agent")?.toLowerCase() || "";
const isMobile = /android|iphone|ipad|ipod|mobile/.test(userAgent);
---

<footer
  class="opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center fade-in-up-scale flex-col text-center gap-3"
>
  <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90">
    {t("footer.text")}
  </span>
  {!isMobile && <p class="text-sm opacity-20">{t("footer.secret")}</p>}
</footer>
