---
import ThemeToggle from "./ThemeToggle.astro";
import LocalToggle from "./LocalToggle.astro";

import { t } from "../../i18n";
---

<header
  class="flex flex-col-reverse gap-6 sm:gap-0 sm:flex-row justify-between items-center w-full mx-auto container max-w-full lg:max-w-3xl md:max-w-2xl"
>
  <nav>
    <ul class="flex gap-4">
      <li>
        <a
          href={`#${t("nav.experience")}`}
          class="text-black/60 hover:text-black/50 dark:text-white/80 dark:hover:text-white/70 text-base transition-colors duration-300"
        >
          {t("nav.experience")}
        </a>
      </li>
      <li>
        <a
          href={`#${t("nav.projects")}`}
          class="text-black/60 hover:text-black/50 dark:text-white/80 dark:hover:text-white/70 text-base transition-colors duration-300"
        >
          {t("nav.projects")}
        </a>
      </li>
      <li>
        <a
          href={`#${t("nav.about")}`}
          class="text-black/60 hover:text-black/50 dark:text-white/80 dark:hover:text-white/70 text-base transition-colors duration-300"
        >
          {t("nav.about")}
        </a>
      </li>
      <li>
        <a
          href={`#${t("nav.contact")}`}
          class="text-black/60 hover:text-black/50 dark:text-white/80 dark:hover:text-white/70 text-base transition-colors duration-300"
        >
          {t("nav.contact")}
        </a>
      </li>
    </ul>
  </nav>
  <div class="flex items-center space-x-4">
    <LocalToggle />
    <ThemeToggle />
  </div>
</header>
