---
import SparklesIcon from "../icons/Sparkles.astro";
---

<div class="space-y-6">
  <header class="flex items-center justify-start gap-2 opacity-90">
    <SparklesIcon />
    <h2 class="text-lg">About Me</h2>
  </header>

  <p
    class="text-pretty text-black/50 dark:text-white/50 text-md leading-6 prose"
  >
    I'm Franco! I love <span class="highlight">computing</span>, <span
      class="highlight">coding</span
    >, and <span class="highlight">coffee</span>. I also enjoy playing <span
      class="highlight">chess</span
    > and discovering new web projects. Je parle trois langues — <span
      class="highlight">Spanish</span
    > , <span class="highlight">English</span> , and I'm learning <span
      class="highlight">French</span
    > . Always curious, I like to explore and improve my skills.
  </p>
</div>
