---
import Gif from "@/assets/gif-2.gif";

import CompanyBadge from "@/components/ui/company-badge.astro";
import Spotify from "@/components/ui/spotify/spotify-player.astro";
import { HoverLinkPreview } from "@/components/ui/hover-link-preview";

import Me from "@/assets/me.webp";

import { getAgeData } from "@/utils/age-calculation";

const { years } = getAgeData();
---

<section class="animate-fade-in flex flex-col gap-4">
  <div class="animate-fade-in">
    <img src={Gif.src} alt="Animated hamster with orange fur working on a laptop" class="w-18 sm:w-22 animate-fade-in hover:scale-105 hover:rotate-3 transition-transform duration-500">

    <HoverLinkPreview href="https://www.linkedin.com/in/francogalfre/" previewImage={Me.src} imageAlt="Francogalfre avatar" client:visible>
      <h1 class="text-[15px] sm:text-[16px] font-[450] text-gray-900 leading-[90%]">Franco Galfré</h1>
    </HoverLinkPreview>
    <p class="text-sm sm:text-[15px] text-secondary mt-0.5 leading-[120%]">Santa Fe, Argentina</p>
  </div>

  <div class="flex flex-col gap-6 mb-8">
        <p class="text-sm sm:text-[15px] font-normal sm:leading-[160%] animate-fade-in text-gray-600">
      I'm Franco! I'm <span id="age-counter" style="font-variant-numeric: tabular-nums;">{years}</span> years old and a passionate Software Engineer & AI Engineer who loves computing, coding, and coffee. I approach every challenge by constantly learning new <a href="/stack" class="underline hover:text-primary hover:brightness-90 transition-all duration-400 mb-2">technologies</a>.

      <br /><br />

      Currently building amazing things at <CompanyBadge />, while crafting <a href="/projects" class="underline hover:text-primary hover:brightness-90 transition-all duration-400 mb-2">projects</a> focused on full-stack scalability and the development of AI agents.
    </p>
  </div>

  <Spotify />
</section>

<script>
  import { getAgeData } from "../../utils/age-calculation";

  const el = document.getElementById("age-counter");

  function render() {
    if (!el) return;
    const { years, days, hours, minutes, seconds } = getAgeData();
    const totalSeconds = days * 86400 + hours * 3600 + minutes * 60 + seconds;
    const decimal = totalSeconds / (365.25 * 86400);
    el.textContent = (years + decimal).toFixed(7);
  }

  render();
  setInterval(render, 50);
</script>
