---
import SparklesIcon from "../icons/Sparkles.astro";

import { t } from "../../i18n";
---

<div class="space-y-6">
  <header class="flex items-center justify-start gap-2 opacity-90">
    <SparklesIcon />
    <h2 class="text-lg">{t("about.title")}</h2>
  </header>

  <p
    class="text-pretty text-black/50 dark:text-white/50 text-md leading-6 prose"
  >
    {t("about.paragraph1")}
  </p>

  <p
    class="text-pretty text-black/50 dark:text-white/50 text-md leading-6 prose"
  >
    {t("about.paragraph2")}
  </p>
</div>
