---
import Globe from "../icons/Globe.astro";

import SocialButton from "../ui/SocialButton.astro";

const socialButtons = [
  {
    text: "Github",
    href: "https://github.com/francogalfre",
  },
  {
    text: "Linkedin",
    href: "https://www.linkedin.com/in/francogalfre/",
  },
  {
    text: "Twitter",
    href: "https://x.com/francogalfredev",
  },
];
---

<div class="space-y-6">
  <header class="flex items-center justify-start gap-2 opacity-90">
    <Globe />
    <h2 class="text-lg">Let's connect</h2>
  </header>
  <p
    class="text-pretty text-black/50 dark:text-white/50 text-md leading-6 prose font-normal"
  >
    Feel free to contact me at
    <a href="mailto:francogalfre.work@gmail.com" class="highlight font-normal"
      >francogalfre.work@gmail.com</a
    >
  </p>
  <nav class="flex gap-3">
    {
      socialButtons.map((social) => (
        <SocialButton href={social.href}>{social.text}</SocialButton>
      ))
    }
  </nav>
</div>
