---
import { games } from "@/data/games-content";

import BreadcrumbChevron from "../icons/breadcrumb-chevron.astro";
---

<section class="space-y-6 animate-fade-in">
  <div class="space-y-6" >
    <div class="space-y-2">
      <h2 class="text-[15px] sm:text-[16px] font-[450] text-black leading-[90%]">games</h2>
      <p class="text-sm sm:text-[15px] font-normal text-gray-900 leading-[160%]">
        A collection of games for when you are bored of my portfolio
      </p>
    </div>
    
    <hr class=" text-gray-200" />

    <ul class="grid grid-cols-1 gap-3 sm:grid-cols-2">
      {games.map((game) => (
        <li class="space-y-2 rounded-lg py-2">
          <a href={`/games/${game.href}`} class="items-center w-full justify-between gap-4 hover:brightness-75 transition-all duration-300">
            <img class="bg-cover w-full min-h-48 max-h-48 h-full" src={game.image} alt={`${game.name} Game Cover`}>
            <div class="flex items-center gap-1 py-2 w-full text-black">
              <h4 class="text-[14px] sm:text-[15px] font-[450 leading-[90%]">{game.name}</h4>
              <span><BreadcrumbChevron /></span>
            </div>
          </a>
        </li>
      ))}
    </ul>
  </div>
</section>