---
import Avatar from "../../assets/avatar.webp";

import { Image } from "astro:assets";
import { Pill, PillIndicator } from "../ui/Pill";

import Mail from "../icons/Mail.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";

const links = [
  {
    href: "mailto:francogalfre.work@gmail.com",
    label: "Contactar por email a Franco Galfré",
    icon: Mail,
  },
  {
    href: "https://www.linkedin.com/in/francogalfre/",
    label: "Ver perfil de LinkedIn de Franco Galfré",
    icon: LinkedIn,
  },
  {
    href: "https://github.com/francogalfre",
    label: "Ver repositorios de GitHub de Franco Galfré",
    icon: Github,
  },
];
---

<div class="space-y-6">
  <header class="space-y-6 mb-10">
    <div class="flex items-center gap-4">
      <Image
        alt="Avatar of Franco Galfré - Full Stack Web Developer"
        fetchpriority="high"
        src={Avatar}
        class="size-15 rounded-full"
        loading="eager"
      />
      <div class="space-y-1">
        <h1 class="text-xl font-medium tracking-tight">Franco Galfré</h1>
        <h2 class="text-md text-black/50 dark:text-white/60 tracking-tight">
          Full Stack Web Developer
        </h2>
      </div>
    </div>

    <div class="flex items-center gap-4">
      <Pill className="border-white/20 text-white/80">
        <PillIndicator variant="success" pulse />
        <span>Available for work</span>
      </Pill>
      <nav
        aria-label="Enlaces de contacto y redes sociales"
        class="flex gap-4 text-white/60"
      >
        {
          links.map(({ href, label, icon: Icon }) => (
            <a
              href={href}
              aria-label={label}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:scale-105 transition-transform"
            >
              <Icon />
            </a>
          ))
        }
      </nav>
    </div>
  </header>

  <p
    class="text-pretty text-black/50 dark:text-white/50 text-md leading-6 prose"
  >
    I'm a <span class="highlight">Software Engineering Student</span> and <span
      class="highlight">Full Stack Developer</span
    >. Focused on creating intuitive and performant web experiences with <span
      class="highlight">Next.js</span
    >
    and <span class="highlight">Node.js</span>. I use <span class="highlight"
      >TypeScript</span
    > to ensure robust and scalable code.
  </p>
</div>
