---
---

<div class="fixed right-4 top-1/2 -translate-y-1/2 z-40 flex flex-col gap-4">
  <a
    href="/games"
    class="group relative"
    aria-label="Play Doom"
    title="Play Doom"
  >
    games
  </a>
</div>

<style>
  a {
    color: var(--color-secondary);
  }

  a:hover {
    color: var(--color-primary);
  }
</style>
