---
import { HugeiconsIcon } from "@hugeicons/react"
import { GameIcon } from "@hugeicons/core-free-icons"
---

<a
  href="/games"
  class="flex items-center justify-center bg-gray-100 p-4 rounded-full text-secondary transition-colors duration-300  hover:text-primary"
  aria-label="Play games"
  title="Play games"
>
  <HugeiconsIcon icon={GameIcon} size={22} />
</a>
