---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/sections/Hero.astro";
import Experience from "../components/sections/Experience.astro";
import Projects from "../components/sections/Projects.astro";
---

<BaseLayout
  title="Franco Galfré Portfolio - Developer & Programmer Web"
  description=""
>
  <section
    class="scroll-m-20 w-full mx-auto container lg:max-w-3xl md:max-w-2xl"
  >
    <Hero />
  </section>
</BaseLayout>
