---
import CompanyLogo from "@/assets/logo-crombie.png"
---

<a href="https://crombie.dev/" target="_blank" class="inline-flex items-center gap-1 bg-gray-100 px-2 py-0.5 rounded-full align-middle ml-0.5">
    <img src={CompanyLogo.src} alt="Crombie Logo" class="w-5 brightness-0">
    Crombie
</a>