---
import FloatingGameButton from "@/components/ui/games/floating-game-button.astro";
import FloatingChatButton from "@/components/ui/chat/floating-chat-button.astro";
---

<div
  class="fixed right-4 bottom-8 z-40 flex items-center gap-4 sm:right-8"
>
  <FloatingChatButton />
  <FloatingGameButton />
</div>
