---
import "../styles/global.css";

import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import Background from "../components/layout/Background.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset=" UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />

    <title>{title}</title>
  </head><body
    class="min-h-screen relative text-black dark:text-white justify-center selection:bg-black/20 dark:selection:bg-white/20 bg-gray-100 dark:bg-zinc-950 pt-24 sm:pt-24 px-4 md:px-0 overflow-x-hidden"
  >
    <Header />
    <Background />
    <slot />
    <Footer />
  </body>
</html>
