---
import "@/styles/global.css";
import "lenis/dist/lenis.css";

import Cursor from "@/components/ui/cursor.astro";
import FloatingButtons from "@/components/ui/floating-buttons.astro";

import SEO from "@/components/seo/seo.astro";
import type { PageSEO } from "@/data/seo-content";

interface Props {
	seo: PageSEO;
}

const { seo } = Astro.props;
---

<html lang="es">
  <head>
    <SEO page={seo} />
    <meta charset="UTF-8">
  </head>
  <body>
    <Cursor />
    <FloatingButtons />
    <main class="w-full max-w-2xl px-6 md:px-12 pt-[16vh] pb-12 min-h-screen flex flex-col gap-6 mx-auto">
      <slot />
    </main>

    <script>
      import Lenis from "lenis";
      new Lenis({ autoRaf: true });
    </script>
  </body>
</html>
