---
import "@/styles/global.css";
import "lenis/dist/lenis.css";
import Cursor from "@/components/ui/cursor.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <link rel="icon" href="/favicon.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet" />
    <title>Franco Galfré</title>
  </head>
  <body>
    <Cursor />
    <main class="max-w-xl w-full px-6 h-screen flex flex-col gap-6 mx-auto items-center justify-center">
      <slot />
    </main>

    <script>
      import Lenis from "lenis";
      new Lenis({ autoRaf: true });
    </script>
  </body>
</html>
