---
import CompanyLogo from "@/assets/crombie.webp";
---

<a href="/experience" class="inline-flex items-center text-gray-900 gap-1 bg-gray-200/60 my-2 sm:my-0 px-2 py-0.5 rounded-full align-middle ml-0.5 hover:scale-[105px] transition-transform duration-500">
    <img src={CompanyLogo.src} alt="Crombie Logo" class="w-4 brightness-0 select-none">
    Crombie
</a>