---
import CompanyLogo from "@/assets/logo-crombie.png";
---

<a href="/experience" class="inline-flex items-center gap-1 bg-gray-100 my-2 sm:my-0 px-2 py-0.5 rounded-full align-middle ml-0.5 hover:scale-[105px] transition-transform duration-500">
    <img src={CompanyLogo.src} alt="Crombie Logo" class="w-5 brightness-0">
    Crombie
</a>